{% extends 'base.html' %}
{% block content %}




<h1>{{ project.name }}</h1>
<br>
<br>

<h3>{{project.cohort_date}}</h3>
<h3>{{project.description}}</h3>
<h3>{{project.teammate_role}}</h3>
<h3>{{project.git_hub_link}}</h3>
<h3>{{project.deployed_app_link}}</h3>

<br>

<a href="{% url 'new_review' project.id %}" class="joshbtn">Review This Project</a>

<a href="{% url 'consolidated_review' project.id %}" class="joshbtn">Consolidate Reviews</a>
<a href="{% url 'update_project' project.id %}" class="joshbtn">update project</a>

{% endblock %}
