{% extends 'base.html' %}

{% block content %}

  <h1 class="newProForm">Please Enter Your Project's Details</h1>
  
  <form action="" method="post" class="newProForm"><!-- Leaving the action empty makes the form post to the same url used to display it -->
    {% csrf_token %}<!-- Django requires the following for security purposes -->
    <ul class="newProForm">
      <li id="cohortTitle">Cohort:</li>
      <li id="cohortField">{{ form.cohort_date }}</li>
      <li id="nameTitle">Project Name:</li>
      <li id="nameField">{{ form.name }}</li>
      <li id="descriptionTitle">Description:</li>
      <li id="descriptionField">{{ form.description }}</li>
      <li id="roleTitle">Roles:</li>
      <li id="roleField">{{ form.teammate_role }}</li>
      <li id="feedbackTitle">Feedback:</li>
      <li id="feedbackField">{{ form.feedback }}</li>
      <li id="gitHubTitle">GitHub Link:</li>
      <li id="gitHubField">{{ form.git_hub_link }}</li>
      <li id="appLinkTitle">Deployed Link:</li>
      <li id="appLinkField">{{ form.deployed_app_link }}</li>
      <li class="newProForm"><input type="submit" value="Post Project" id="newProFormBtn"></li><!--Upon submit redirect to next form (technologies form)-->
    </ul>
  </form>

{% endblock %}
