{% extends 'base.html' %}
{% block content %}

<a href="{% url 'new_review' project.id %}">Review This Project</a>
<a href="{% url 'consolidated_review' project.id %}">Consolidate Reviews</a>
<a href="{% url 'update_project' project.id %}">update project</a>
<br>
<h2>{{ project.cohort_date }}</h2>
<h2>{{ project.name }}</h2>
<h2>{{ project.description }}</h2>
<h2>{{ project.teammate_role }}</h2>
<h2>{{ project.feedback }}</h2>
<h2>{{ project.git_hub_link }}</h2>
<h2>{{ project.deployed_app_link }}</h2>

{% endblock %}