{% extends 'base.html' %}

{% block content %}
  {% if object %}
    <h1 class="reviewForm">Edit <span class="teal-text">{{project.name}}</span></h1>
  {% else %}
    <h1 class="reviewForm">Review a project</h1>
  {% endif %}
  
  <form action="" method="post" class="reviewForm"><!-- Leaving the action empty makes the form post to the same url used to display it -->
    {% csrf_token %}<!-- Django requires the following for security purposes -->
    <ul class="reviewForm">
      <li id="pitchFeedTitle">Pitch Deck Feedback:</li>
      <li id="pitchFeedField">{{ form.pitchdeck_review }}</li>
      <li id="pitchRateTitle">Pitch Deck Rating:</li>
      <li id="pitchRateField">{{ form.pitchdeck_rating }}</li>
      <li id="contentFeedTitle">Content Feedback:</li>
      <li id="contentFeedField">{{ form.content_review }}</li>
      <li id="contentRateTitle">Content Rating:</li>
      <li id="contentRateField">{{ form.content_rating }}</li>
      <li id="uiFeedTitle">UI/UX Feedback:</li>
      <li id="uiFeedField">{{ form.UIUX_review }}</li>
      <li id="uiRateTitle">UI/UX Rating:</li>
      <li id="uiRateField">{{ form.UIUX_rating }}</li>
      <li id="codeFeedTitle">Code Feedback:</li>
      <li id="codeFeedField">{{ form.clean_code_review }}</li>
      <li id="codeRateTitle">Code Rating:</li>
      <li id="codeRateField">{{ form.clean_code_rating }}</li>
      <li id="presFeedTitle">Presentation Feedback:</li>
      <li id="presFeedField">{{ form.presentation_review }}</li>
      <li id="presRateTitle">Presentation Rating:</li>
      <li id="presRateField">{{ form.presentation_rating }}</li>
      <li class="reviewForm"><input type="submit" value="Post Review" id="reviewFormBtn"></li>
    </ul>
  </form>
{% endblock %}
