{% extends 'base.html' %}
{% block content %}


<h1>All Reviews on project.name</h1>

<h2>Feedback on your Pitchdeck</h2>
{%for review in review %}
<h3>{{review.pitchdeck_review}}</h3>
{%endfor%}
<h2>Feedback on your Content</h2>
{%for review in review %}
<h3>{{review.content_review}}</h3>
{%endfor%}
<h2>Feedback on your UI/UX</h2>
{%for review in review %}
<h3>{{review.UIUX_review}}</h3>
{%endfor%}
<h2>Feedback on your Code</h2>
{%for review in review %}
<h3>{{review.clean_code_review}}</h3>
{%endfor%}
<h2>Feedback on your Presentation</h2>
{%for review in review %}
<h3>{{review.presentation_review}}</h3>
{%endfor%}

{% endblock %}
