html {
  background-color: rgb(47, 50, 58);
  background-image: url('../images/background4.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-width: 100%;
  min-height: 100%;
  margin: 0;
}
body {
  margin: 0;
  color: #EFF2C0;
  font-family: 'Montserrat', sans-serif;
}
body::-webkit-scrollbar {
  width: 20px;
}
body::-webkit-scrollbar-track {
box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
-webkit-box-shadow: inset 0 0 6px rgba(255, 255, 255, 0);
}
body::-webkit-scrollbar-thumb {
background-color: rgba(164, 186, 183, 1);
border-radius: 8px;
}

/*------------------------------------------------------------------------*/

header {
  height: 55px;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

/*------------------------------------------------------------------------*/

main.home {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  position: absolute;
  top: 35%;
  margin: 50px;
  padding: 0 20px;
}
main.about {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr;
  position: absolute;
  top: 10%;
  margin: 50px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
}
main.register {
  display: flex;
  position: relative;
  top: 10%;
  margin: 50px;
  padding: 20px;
  justify-content: center;
}

/*------------------------------------------------------------------------*/

section.home {
  padding: 20px;
}
section.home > a {
  display: inline-block;
  margin: 0 20px;
}

/*------------------------------------------------------------------------*/

aside.home {
  padding: 0 20px 20px 20px;
  display: flex;
  justify-content: center;
}

/*------------------------------------------------------------------------*/

span.home {
  font-size: 70%;
}

/*------------------------------------------------------------------------*/

a {
  color: #EFF2C0;
  text-decoration: none;
  grid-column: 1 / 3;
  text-align: center;
}
a:hover {
  transition: 0.4s;
  color: #000000;
}

/*------------------------------------------------------------------------*/

#loginForm {
  height: 220px;
  width: 400px;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-rows: 1fr 1fr 2fr 1fr;
  grid-template-columns: 1fr 3fr;
  align-items: flex-end;
  padding: 40px 20px;
}
#loginBtn {
  grid-column: 1 / 3;
  margin: 0 80px;
  height: 30px;
  border-radius: 10px;
  outline: none;
  background-color: #EFF2C0;
  border: none;
  font-family: 'Montserrat', sans-serif;
}
#loginBtn:hover, #searchBtn:hover, #registerBtn:hover {
  transition: 0.4s;
  background-color: #000000;
  color: #EFF2C0;
}
#loginForm > a {
  display: inline;
}
#searchBtn {
  border-radius: 10px;
  outline: none;
  background-color: #EFF2C0;
  border: none;
  font-family: 'Montserrat', sans-serif;
  height: 30px;
}
#loginForm > input, #searchForm > input, #registerForm > input {
  border: none;
  background-color: #A4BAB7;
  border-radius: 5px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  outline: none;
  height: 30px;
}
#searchForm > input{
  width: 350px;
}
#registerForm {
  height: 220px;
  width: 400px;
  border-radius: 10%;
  background-color: rgba(255, 255, 255, 0.1);
  display: grid;
  grid-template-rows: 1fr 1fr 2fr;
  grid-template-columns: 1fr 3fr;
  align-items: flex-end;
  padding: 40px 20px;
}
#registerBtn {
  grid-column: 1 / 3;
  margin: 0 80px;
  height: 30px;
  border-radius: 10px;
  outline: none;
  background-color: #EFF2C0;
  border: none;
  font-family: 'Montserrat', sans-serif;
}

/*------------------------------------------------------------------------*/

ul.header {
  margin: 0;
  padding: 10px 0;
  display: flex;
  list-style-type: none;
  align-items: center;
}
li.header {
  display: inline-block;
  padding: 0 20px;
}
li.header:first-child {
  margin-right: auto;
  padding: 0 0 0 40px;
}
#logoutBtn {
  padding: 0 40px 0 20px;
}

/*------------------------------------------------------------------------*/

